body {
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Noto Sans JP", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  font-family: "Montserrat", sans-serif;
}
.brand-name a {
  word-spacing: -1.5px;
}
nav .container {
  display: flex;
  min-height: 60px;
  align-items: center;
}
.hyper-links ul {
  display: flex;
  column-gap: 1rem;
  margin-bottom: 0;
}
.hyper-links {
  margin-left: auto;
}
header nav {
  background-color: #fff;
  box-shadow: 0 2px 4px -2px rgb(175 175 175 / 50%);
  box-sizing: border-box;
  display: flex;
  width: 100%;
}
.brand-name a {
  font-weight: 600;
  font-size: 18px;
}
ul.list-unstyled.footer-ul {
  display: flex;
  column-gap: 2rem;
  justify-content: center;
  margin-bottom: 0;
  padding-top: 1rem;
  border-top: 2px solid #fff;
  max-width: 700px;
  margin: auto;
}
article.decription-article {
  /* background: #333;
    color: #dee2e6; */
  padding: 30px 0;
}
li.footer-links a {
  font-size: 14px;
  /* color: #fff; */
  display: inline-block;
}
article.top-function-area {
  padding: 100px 0;
  min-height: 58vh;
}
/* input area */
.inputDnD .form-control-file {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 6em;
  outline: none;
  visibility: hidden;
  cursor: pointer;
  background-color: #c61c23;
  box-shadow: 0 0 5px solid currentColor;
}
.inputDnD .form-control-file:before {
  content: attr(data-title);
  position: absolute;
  top: 0.5em;
  left: 0;
  width: 100%;
  min-height: 6em;
  line-height: 2em;
  padding-top: 1.5em;
  opacity: 1;
  visibility: visible;
  text-align: center;
  /* border: 0.25em dashed currentColor; */
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  overflow: hidden;
}
/* .inputDnD .form-control-file:hover:before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em currentColor;
  } */
button.btn.btn-primary.btn-block.select-img-btn {
  width: 100%;
  margin-top: 1rem;
}
.form-group.inputDnD {
  border: 2px dashed;
}
.content-forupload-progress.col-sm-6.mx-auto {
  margin-top: 1rem;
}
.converting {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  flex-direction: column;
  row-gap: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #22222214;
}
.image-ready-container {
  max-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  flex-direction: column;
  row-gap: 1rem;
}
.size {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
  border-bottom: 2px solid #d3d3d3ad;
  border-top: 2px solid #d3d3d3ad;
  padding: 1rem 0;
  flex-direction: column;
  width: 100%;
  row-gap: 1rem;
  max-width: 400px;
}
span.percent-change {
  color: green;
  font-weight: 600;
}
span.file-name {
  text-overflow: ellipsis;
  width: 15ch;
  white-space: nowrap;
  overflow: hidden;
}
.preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.image-preview-onupload img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: blur(3px);
}
.img-preview,
.image-preview-onupload {
  height: 200px;
  overflow: hidden;
  max-width: 300px;
  padding: 10px 20px;
  box-shadow: 0 0 6px #d3d3d3ad;
  border-radius: 6px;
  position: relative;
  margin: auto;
}
.download-btn {
  /* position: absolute; */

  background: #198754;
  border-radius: 6px;
}
.download-btn .btn {
  font-size: 12px;
  color: #fff !important;
  width: 150px;
}
.upload-text {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 2px 10px;
  /* box-shadow: 0 0 6px #d2d2d2ad; */
  font-size: 10px;
  border-radius: 5px;
  width: max-content;
}
.progress {
  overflow: visible;
}
span.name-title {
  min-width: 130px;
}
.name-div {
  display: flex;
}
ul.ul-content {
  list-style: none;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  column-gap: 0.7rem;
  row-gap: 0.7rem;
  font-size: 16px;
}
.sharer {
  position: fixed;
  bottom: 50%;
  left: 0px;
  background: #333333;
  width: auto;
  height: 38px;
  border-radius: 5px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
  transition: height 0.5s ease-in;
  color: #fff;
  box-shadow: 0 0 6px #d2d2d2ad;
}
.share-btns {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  align-items: center;
}
.sharer.active {
  align-items: center;
  height: auto;
  transition: height 0.5s ease-in;
}
.share-btns a {
  display: block;
  border-bottom: 1px solid #d3d3d3;
  width: 100%;
  text-align: center;
  color: #fff;
  transition: all 0.4s ease-in;
}
.share-btns a:hover i {
  transform: scale(1.2);
}
.sharer .shevero {
  display: none;
}
.sharer .shareIcon {
  display: block;
  color: #fff;
}
.sharer.active .shevero {
  display: block;
  color: #fff;
}
.sharer.active .shareIcon {
  display: none;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
  font-size: 16px;
}
.brand-name a {
  font-size: 18px;
}
.mob-sharer {
  display: none;
}
li.footer-links {
  position: relative;
}
li.footer-links:nth-child(1)::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 65%;
  background: #222;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
}

/* mainsec new */
.main-container-section {
  background-color: #eee;
}
@media screen and (max-width: 600px) {
  .h2,
  h2 {
    font-size: calc(1.325rem + 0.4vw);
  }
  nav .container {
    /* align-items: center; */
    justify-content: center;
  }
  .h1,
  h1 {
    font-size: calc(1rem + 1.5vw);
  }
  .brand-name a {
    font-size: 17px;
    font-weight: 500;
  }
  .hyper-links {
    display: none;
  }
  ul.list-unstyled.footer-ul {
    /* position: fixed; */
    bottom: 0;
    width: 100%;
    left: 0;
    padding: 5px;
    background: #eee;
    /* box-shadow: 0 0 12px #d3d3d3ad; */
  }
  .sharer {
    display: none;
  }
  .share-btns a {
    display: block;
    border-bottom: 1px solid #d3d3d3;
    width: 100%;
    text-align: center;
    color: #333;
  }
  .sharer .shevero {
    display: none;
  }
  .sharer .shareIcon {
    display: block;
    color: #333;
  }
  .sharer.active .shevero {
    display: block;
    color: #333;
  }
  .mob-class {
    display: none;
  }
  .share-btns-mob a {
    box-shadow: 0 0 6px #d2d2d2ad;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid; */
    /* box-shadow: 0 0 2px #333; */
    position: relative;
    /* color: #333; */
  }
  .mob-sharer {
    display: block;
    position: absolute;
    bottom: 10px;
  }
  .share-btns-mob {
    display: flex;
    column-gap: 2rem;
  }
  article.top-function-area {
    padding: 100px 0 150px;
    min-height: 58vh;
    position: relative;
  }
  .share-btns-mob a:nth-child(1)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #333333;
    right: -20px;
  }
  .share-btns-mob a:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 100%;
    background: #333333;
    right: -20px;
  }
  .share-btns-mob a:nth-child(2) {
    color: #1da1f2;
  }
  .share-btns-mob a:nth-child(1) {
    color: #4267b2;
  }
  .share-btns-mob a:nth-child(3) {
    color: #075e54;
  }
}
@media screen and (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 920px;
  }
}
