
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

.bg-light {
    background-color: #f2f1ec!important;
}
.top-nav-anchors{
    font-size: 18px;
    font-weight: 600;
}


img.logo-of-web {
    width: 120px;
    height: 80px;
}

div#navbarNav {
    justify-content: flex-end;
}

a.nav-link.top-nav-anchors {
    color: #548d95 !important;
    text-transform: capitalize;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    position: relative;
    padding-right: .0rem; 
    padding-left: .0rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

a.nav-link.top-nav-anchors:after {
    width: 0%;
    height: 2px;
    background: #1285be;
    content: '';
    position: absolute;
    left: 0;
    bottom: 0px;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
a.nav-link.top-nav-anchors:hover {
    color: #008FD8;
}
a.nav-link.top-nav-anchors:hover:after {
   width: 100%;
}

span.contact-number {
    display: inline-block;
    padding: 5px 15px;
    border: 1px solid;
    border-radius: 50px;
}
.facilities{
    padding: 5px;
}

a.nav-link.top-nav-anchors {
    white-space: nowrap;
}
.carousel-indicators li{
    height: 15px;
    border-radius: 50%;
    width: 15px;
}

.footer-section {
    background: #222;
    color: #fff;
    padding: 30px;
}

a.footer-anchor-links {
    color: #d4d4d4;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
    display: inline-block;
}
.socialmedia-icons {
    display: flex;
    justify-content: flex-start;
}

.social-icons-small {
    margin-right: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border-top: 1px solid;
    border-bottom: 1px solid; */
    transition: all 0.4s ease;
    position: relative;
}
.footer-media-links {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.social-icons-small a{
    font-size: 20px;
}
.social-icons-small a span {
    position: absolute;
    transition: transform 0.5s;
  }
  .social-icons-small a span:nth-child(1),
  .social-icons-small a span:nth-child(3) {
    width: 100%;
    height: 1px;
    background: #ffffff;
  }
  .social-icons-small a span:nth-child(1) {
    top: 0;
    left: 0;
    transform-origin: right;
  }
  .social-icons-small a:hover span:nth-child(1) {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s;
  }
  .social-icons-small a span:nth-child(3) {
    bottom: 0;
    left: 0;
    transform-origin: left;
  }
  .social-icons-small a:hover span:nth-child(3) {
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
  }
  .social-icons-small a span:nth-child(2),
  .social-icons-small a span:nth-child(4) {
    width: 2px;
    height: 100%;
    background: #ffffff;
  }
  .social-icons-small a span:nth-child(2) {
    top: 0;
    left: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .social-icons-small a:hover span:nth-child(2) {
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 0.5s;
  }
  .social-icons-small a span:nth-child(4) {
    right: 0;
    top: 0;
    transform: scaleY(0);
    transform-origin: bottom;
  }
  .social-icons-small a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s;
  }

  .copywright-text {
    color: #d4d4d4;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
}

.copywright-claim-section {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.map-for-clinic {
    height: 200px;
}
.map-for-clinic iframe {
    height: 100%;
    width: 100%;
}
.row.footer-row {
    justify-content: space-between;
}
@media(min-width:900px) and (max-width:1200px){
    a.nav-link.top-nav-anchors {
        white-space: nowrap;
        font-size: 14px;
    }
}
@media(min-width:991px){
    img.logo-of-web {
        width: 150px;
        height: 104px;
    }
    .mobile{
        display: none;
    }
    .navbar-brand-anchor{
        position: relative;
    }

    img.logo-of-web {
        width: 150px;
        height: 104px;
        position: absolute;
        z-index: 1;
        top: -33px;
        width: 186px;
        height: 130px;
        border-radius: 5px;
    }
    .navbar-expand-lg{
        height: 100px;
    }

    .carousel-indicators {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 15;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: flex-end;
        padding-left: 0;
        margin-right: 15%;
        margin-left: 15%;
        list-style: none;
    }
}