.brand-img {
  width: 200px;
  height: 60px;
}
header {
  display: flex;
  justify-content: center;
  background: #2a2a2a;
}
img.the-skin-img {
  width: 100%;
  object-fit: contain;
  height: 100%;
  background: #f7f7f7;
}
.skin-img-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
.inside-image-col {
  padding: 5px 8px;
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  box-shadow: 0 0 4px #f3f3f3;
}
a.thegetanchor {
  display: flex;
  width: 110px;
  justify-content: center;
  height: 40px;
  align-items: center;
  background: #2a2a2a;
  color: #fff;
  font-weight: 600;
  margin-bottom: 5px;
  border-radius: 8px;
  text-transform: uppercase;
  text-decoration: none;
}
.get-img-details {
  display: flex;
  justify-content: center;
  margin-top: 1.25rem;
}
.row.theImage-row {
  padding-top: 2.5rem;
  row-gap: 1.25rem;
  margin-bottom: 2rem;
}

/* new */
text {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 11px;
  pointer-events: none;
}
#chart {
  /* position: absolute; */
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
}
#question {
  position: absolute;
  width: 200px;
  height: 300px;
  top: 0;
  left: 320px;
}
#question h1 {
  font-size: 50px;
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}
td.the_wheel {
  transform: scale(0.5);
}
