
main{
    
    min-height: 70vh;
    display: flex;
    align-items: center;
}
.nav-complete {
    background-color: #098240;
    display: flex;
    align-items: center;
    height: 76px;
}
.nav-2.container .navbar-light .nav-link {
    letter-spacing: -0.5px;
    color: #D8D8D8;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 18px;
    height: 20px;
    display: flex;
    align-items: center;
    height: 22px;
    text-decoration: none;
    position: relative;
}
.nav-2.container .navbar-light .first {
    border-right: 1px solid #D8D8D8;
}
.nav-2.container li.nav-item {
    margin-right: 0px;
}
.nav-complete .nav-item a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #ea4724;
    width: 0%;
    left: 10px;
    bottom: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-complete .nav-item a:hover::after{
    content: "";
    position: absolute;
    height: 2px ;
    background-color: #ea4724;
    width: 80%;
    left: 10px;
    bottom: 0;
}
.nav-2.container .navbar-brand {
    letter-spacing: -0.65px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 56px;
}

.body-block{
    margin-bottom: 50px;
}
h3.forgot-pas-heading {
    font-size: 32px;
    font-family: montserrat;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: -0.55px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #098240;
}
label.label-for-email{
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: -0.77px;
    margin-bottom: 20px;
}
input#forgoot-email{
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    color: #222;
    height: 50px;
}
button.btn.reset-button {
    margin-left: auto;
    display: flex;
    height: 48px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: -0.77px;
    line-height: 29px;
    background: #BD2035;
    color: #fff;
    margin-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
}
button.btn.reset-button:hover{
    background-color: #a4a4a4;
    color: #fff;
}

.bold-text {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: -0.55px;
    line-height: 30px;
}
p.text-para {
    font-size: 16px;
    font-family: Montserrat;
    text-align: justify;
    letter-spacing: -0.55px;
    line-height: 30px;
    margin-top: 15px;
    font-weight: 600;
}
span.special-text a {
    color: #098240;
    text-decoration: none !important;
}
.message-after-button-clicked{
    display: none;
}

@media (min-width: 600px){
    .nav-2.container .navbar-brand {
        letter-spacing: -0.65px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 500;
        line-height: 56px;
    }
}