.nav-complete{
    background-color: #098240;
}
.nav-2.container .navbar-brand{
    letter-spacing: -0.65px;
    color: #FFFFFF;
    font-family: Montserrat;
    /* font-size: 15px; */
    line-height: 56px;
}
.nav-2.container .navbar-light .nav-link {
    letter-spacing: -0.5px;
    color: #D8D8D8;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 18px;
    height: 20px;
    display: flex;
    align-items: center;
    height: 22px;
    text-decoration: none;
    position: relative;
}
.nav-2.container .navbar-light .first{
    border-right: 1px solid #D8D8D8;
}
.nav-2.container .navbar-expand{
    padding-top: 5;
    padding-bottom: 5;
}
.nav-2.container li.nav-item {
    margin-right: 0px;
}
.body .container{
    padding-top: 55px;
    padding-bottom: 55px;
}
.container .heading-body h3{
    letter-spacing: -1px;
    color: #098240;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 31px;
    line-height: 60px;
}
.container .heading-body p,
.headingsecond{
    letter-spacing: -0.5px;
    color: #222222;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}
.headingsecond .second-heading{
    letter-spacing: -0.7px;
    color: #098240;
    font-size: 30px;
    line-height: 50px;
    font-family: Montserrat;
    font-weight: 600;
    margin-top: 30px;
}
.question{
    font-weight: 500;
    font-family: Montserrat;
    color: #098240;
    font-size: 22px;
    line-height: 30px;
    margin-top: 30px;
}
.question h3{
    margin-bottom: 30px;
}
.lists-left-align{
    padding-left:22px;

    list-style: none;
}
.lists-left-align li{
    position: relative;
    letter-spacing: -0.5px;
    color: #222222;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
    margin-bottom: 10px;

}
.lists-left-align li::before {
    content: '';
    width: 10px;
    height: 10px;
    background-color: #098240;
    position: absolute;
    left: -22px;
    border-radius: 50%;
    top: 10px;
  }
  .back{
    margin-top: 50px;
  }
  .back-button{
     color: #fff;
     background-color: #BD2035;
     padding: 5px 20px;
     border-radius: 5px;
     text-decoration: none;
     font-size: 16px;
     font-weight: 500;
     font-family: Montserrat;
     line-height: 26px;
  }
  .back-button:hover{
      text-decoration: none;
      color: #FFFFFF;
      background-color: #707070;
  }
  .nav-complete .nav-item a{
      position: relative;
  }
  .nav-complete .nav-item a::after{
    content: "";
    position: absolute;
    height: 2px ;
    background-color: #ea4724;
    width: 0%;
    left: 10px;
    bottom: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-complete .nav-item a:hover::after{
    content: "";
    position: absolute;
    height: 2px ;
    background-color: #ea4724;
    width: 80%;
    left: 10px;
    bottom: 0;
}

.para-texts{
    letter-spacing: -0.5px;
    color: #222222;
    font-size: 14px;
    font-family: Montserrat;
    font-weight: 400;
    line-height: 24px;
    text-align: justify;
}
@media(min-width:600px){
    .nav-2.container .navbar-brand{
        letter-spacing: -0.65px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 500;
        line-height: 56px;
    } 
    .headingsecond .second-heading{
        letter-spacing: -0.7px;
        color: #098240;
        font-size: 35px;
        
    }
    .question{
        
        font-size: 26px;
       
    }
    .body .container {
        padding-top: 85px;
        padding-bottom: 85px;
    }
    
}
@media(max-width: 1500px) and (min-width: 1000px){
    .container .heading-body h3{
        font-size: 35px;
    }
}
@media(min-width:1501px){
    .container .heading-body h3{
        font-size: 48px;
    }
}
@media(max-width: 601px) and (min-width: 999px){
    .container .heading-body h3{
        font-size: 35px;
    }
}