.nav-complete {
    background-color: #098240;
    display: flex;
    align-items: center;
    height: 76px;
}
.nav-2.container .navbar-light .nav-link {
    letter-spacing: -0.5px;
    color: #D8D8D8;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 18px;
    height: 20px;
    display: flex;
    align-items: center;
    height: 22px;
    text-decoration: none;
    position: relative;
}
.nav-2.container .navbar-light .first {
    border-right: 1px solid #D8D8D8;
}
.nav-2.container li.nav-item {
    margin-right: 0px;
}
.nav-complete .nav-item a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #ea4724;
    width: 0%;
    left: 10px;
    bottom: 0;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
}
.nav-complete .nav-item a:hover::after{
    content: "";
    position: absolute;
    height: 2px ;
    background-color: #ea4724;
    width: 80%;
    left: 10px;
    bottom: 0;
}
.nav-2.container .navbar-brand {
    letter-spacing: -0.65px;
    color: #FFFFFF;
    font-family: Montserrat;
    font-size: 15px;
    line-height: 56px;
}


/* -------------hotel-body  */
.hotel-details-with-img{
    margin-top: 51px;
    margin-bottom: 37px;
}
.image-container-for-hotel-img{
    height: 181px;
    overflow: hidden;
}
.image-container-for-hotel-img img{
    height: 100%;
    width: 100%;
}
h3.hotel-name {
    margin-bottom: 20px;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 17px;
}
p.hotel-description {
    font-size: 14px;
    font-weight: 600;
    font-family: Montserrat;
}
p.hotel-description-light ,
.message-for-host .para-light, .para-light {
    font-family: Montserrat;
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 2px;
} 




.body-section-with-two-halves .inside{
    box-shadow: 0px 3px 6px #00000029;
    padding: 10px;
}
.inside-heading{
    font-weight: 600;
    font-family: Montserrat;
    font-size: 24px;
    line-height: 34px;
    text-align: left;
    color: #3B3B3B;
    letter-spacing: -0.55px;
    margin-bottom: 15px;
}
.date-heading-text,
.message-heading-text,
.total-text,
.cancellation-text{
    font-size: 17px;
    font-family: Montserrat;
    font-weight: 600;
    line-height: 34px;
    letter-spacing: -0.5px;
    margin-bottom: 0;
    color: #222222;
}
.date-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-text {
    font-size: 14px;
    font-family: Montserrat;
    letter-spacing: -0.77px;
    color: #d4d4d4;
    line-height: 24px;
    font-weight: 500;
}
.date-edit-button.btn,
.guest-edit-button.btn {
    font-weight: 600;
    font-family: Montserrat;
    letter-spacing: -0.55px;
    color: #BD2035;
}
.avatar-face img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.avatar-details {
    font-size: 14px;
    font-family: Montserrat;
    letter-spacing: -0.77px;
    line-height: 20px;
    font-weight: 500;
    color: #d4d4d4;
}
.avatar-name {
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    letter-spacing: -0.77px;
    line-height: 20px;
    color: #222222;
}
.avatar-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.avatar{
    margin-top: 40px;
}
.price-rows{
    font-size: 16px;
    font-family: Montserrat;
    font-weight: 500;
    letter-spacing: -0.55px;
    margin-bottom: 12px;
}
.price-section {
    padding: 20px;
    border: 1px solid #d4d4d4;
    border-radius: 10px;
}
.light-color-hr{
    background-color: #d4d4d4;
    margin: 20px -10px;
}
.para-light {
    font-family: Montserrat;
    font-size: 14px;
    color: #d4d4d4;
    margin-bottom: 2px;
    text-decoration: underline;
} 




.check-out-box, 
.cancellation-policy{
    margin-top: 50px;
    box-shadow: 0px 3px 6px #00000029;
    padding: 40px;
}
.checkout-heading{
    font-size: 24px;
    font-family: montserrat;
    letter-spacing: -0.55px;
    line-height: 34px;
    color: #BD2035;
    font-weight: 600;
}






.form-control{
    position: relative;
}
.form-group{
    position: relative;
    margin-bottom: 15px;
    /* overflow: hidden; */
}
label.uplabel {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 100%;
    color: #d3d3d3;
    transition: 0.2s all;
    cursor: text;
  }
  .check-out-box input.form-control
 {
    width: 100%;
    /* border: 0; */
    /* outline: 0; */
    padding:0.9rem 0.5rem 0.5rem;
    /* border-bottom: 2px solid #d3d3d3; */
    box-shadow: none;
    color: #111;
    height: 49px;
    overflow: hidden;
    position: relative;
    margin-bottom: 41px;
    border: 0;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 0;
    font-size: 18px;
    font-weight: 600;
  }
  span.exclamation {
    width: 25px;
    height: 25px;
    border: 1px solid;
    border-radius: 50%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    
    left: 82px;
    top: -4px;
    cursor: pointer;
}
  textarea.form-control {
    width: 100%;
    /* border: 0; */
    /* outline: 0; */
    padding:0.9rem 0.5rem 0.5rem;
    /* border-bottom: 2px solid #d3d3d3; */
    box-shadow: none;
    color: #111;
    /* height: 44px; */
    overflow: hidden;
    position: relative;
  }
  
  /* input.form-control:invalid {
    outline: 0;
    
  } */
  input.form-control:focus,
input.form-control:valid ,
textarea.form-control:focus,
textarea.form-control:valid 
{
  border-color: #A6A6A6;
 
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    /* border-color: transparent; */
    /* outline: 0; */
    box-shadow:none;
}
input.form-control:focus~label,
input.form-control:valid~label
{
  font-size: 14px;
  top: -7px;
  color: #A6A6A6;
}



/* ---policy */

.learn-more{
    display: inline-block;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    color: #222222;
    text-decoration: underline;
    margin-top: 22px;
    margin-bottom: 37px;
}
.learn-more:hover{
    font-size: 18px;
    font-family: Montserrat;
    font-weight: 600;
    color: #222222;
    text-decoration: underline;
}
.dark-text{
    font-weight: 600;
    color: #222222;
}

.para-dark{
    font-family: Montserrat;
    font-size: 500;
    font-size: 14px;
    letter-spacing: -0.55px;
    line-height: 24px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: justify;
}
.text-green-color{
    color: #098240;
}
.request-button{
    display: flex;
    color: #ffffff;
    background-color: #BD2035;
    font-size: 18px;
    font-weight: 600;
    font-family: Montserrat;
    margin-bottom: 70px;
    width: 300px;
    text-align: center;
    justify-content: center;
    line-height: 54px;
}
.request-button:hover{
    color: #fff;
    background-color: #a6a6a6;
}
.tooltip-arrow,
.red-tooltip + .tooltip  {background-color: #f00;}
@media(min-width:1200px){
    .hotel-details-with-img .col-xl-2{
        flex: 0 0 19.333333%;
        max-width: 19.333333%;
    }
    .body-section-with-two-halves .inside{
        padding: 40px;
    }
    .light-color-hr{
        background-color: #d4d4d4;
        margin: 20px -40px;
    }
}

@media (min-width: 600px){
    .nav-2.container .navbar-brand {
        letter-spacing: -0.65px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 500;
        line-height: 56px;
    }
    
}
@media(min-width:767px) and (max-width:1000px){
    .date-text {
        font-size: 12px;
        
    }
}
@media (min-width: 600px) and (max-width:1199px){
    .nav-2.container .navbar-brand {
        letter-spacing: -0.65px;
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 35px;
        font-weight: 500;
        line-height: 56px;
    }
    .body-section-with-two-halves .inside{
        padding: 20px;
    }
    .light-color-hr{
        background-color: #d4d4d4;
        margin: 20px -20px;
    }
    
}
@media(max-width:374px){
    .date-text {
        font-size: 12px;
        
    }
}
@media (max-width:767px){
    h3.hotel-name{
        margin-top: 25px;
        line-height: 24px;

    }
    .body-section-with-two-halves .inside,
    .check-out-box, .cancellation-policy{
        padding: 40px 10px;
    }
    .cancellation-heading{
        font-size: 21px !important;
    }
    .request-button {
     
        width: 250px;
       
    }
}